.sample {
  inline-size: 50vmin;
  block-size: 35vmin;
  background: linear-gradient(
    to bottom right, 
    hsl(150 100% 50%), 
    hsl(190 100% 60%)
  );
  border-radius: 1rem;
  position: relative;
  transition: width 2s, height 3s;
}
.sample:hover {
  height:300px;
  width:400px;
}
.sample::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right, 
    hsl(150 100% 50%), 
    hsl(190 100% 60%)
  );
  z-index: -1;
  transform: translateY(15%) scale(.85);
  filter: blur(30px);
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}